	<div class="container-fluid">
	  <app-navegacion></app-navegacion>
	  <div class="col-lg-12">
	    <h2 class="pl-2 pt-4">Alta de nuevo pesaje</h2>

	    <form [formGroup]="formPesaje" (ngSubmit)="guardar()">

	      <label for="fechapesaje">Fecha pesaje: </label>
	      <input type="date" name="fechapesaje" id="fechapesaje" formControlName="fechapesaje"
	        [class.is-invalid]="fechapesajeNoValida" class="form-control" [(ngModel)]="pesaje.fechapesaje">
	      <br>
	      <small *ngIf="fechapesajeNoValida" class="text-danger ml-3">Coordenadas de google maps </small>



	      <label for="ruta">Ruta: </label>
	      <select formControlName="idruta" [class.is-invalid]="idrutaNoValida" class="form-control" [(ngModel)]="vehiculopesaje">
	        <option *ngFor="let r of rutas" name="idruta" id="idruta">{{ r.denom }}</option>
	      </select>
	      <br>
	      <small *ngIf="idrutaNoValida" class="text-danger ml-3">Coordenadas de google maps </small>



	      <label for="pesaje">Pesaje: </label>
	      <input type="text" name="pesaje" id="pesaje" formControlName="pesaje" [class.is-invalid]="pesajeNoValida"
	        class="form-control" [(ngModel)]="pesaje.pesaje">
	      <br>
	      <small *ngIf="pesajeNoValida" class="text-danger ml-3">Coordenadas de google maps </small>



	      <label for="vehiculo">vehículo: </label>
	      <select name="vehiculo" id="vehiculo" class="form-control">
	        <option *ngFor="let v of vehiculos">{{ v.matricula }} - {{ v.marca }}
	          {{ v.modelo }}</option>
	      </select>
	      <br>
	      <small *ngIf="pesajeNoValida" class="text-danger ml-3">Coordenadas de google maps </small>



	      <label for="idoperario">Operario: </label>
	      <select formControlName="idempleado" [class.is-invalid]="idempleadoNoValida" class="form-control">
	        <option *ngFor="let e of empleados" name="idempleado" id="idempleado">
	          {{ e.nomemp }}</option>
	        <!-- OJITO, PARA QUE TE FUNCIONE EL SELECT TIENES QUE OBTENER LOS CLIENTES EN EL
			MISMO CONTROLADOR QUE CARGA ESTA PÁGINA: "/insertaexportacion" -->
	      </select>
	      <br>
	      <small *ngIf="idempleadoNoValida" class="text-danger ml-3">Coordenadas de google maps </small>

	      <label for="comprobante">Comprobante: </label>
	      <input type="file" name="comprobante" id="comprobante" formControlName="pesaje"
	        [class.is-invalid]="comprobanteNoValida">
	      <br>
	      <small *ngIf="comprobanteNoValida" class="text-danger ml-3">Coordenadas de google maps </small>

	      <div class="ml-3 mt-3">
	        <button type="submit" value="Salvar Pesaje" mat-raised-button color="accent" class="btn submit" (click)="guardar()">Salvar Pesaje</button>
	      </div>

	    </form>



	  </div>
	  <div class="col-lg-12 pt-3 ml-3 mb-5">
	    <a [routerLink]="['/pesajes']" routerLinkActive="router-link-active" mat-raised-button color="warn"
	      class="btn">Volver</a>
	  </div>
