<div class="container-fluid login_form h-100">

  <div class="col-lg-6 offset-lg-3">
    <div class="col-lg-10 offset-lg-1 pt-5" id="login">
      <div class="col-lg-4 offset-lg-4">
        <img src="assets/img/logoadia.png" alt="" class="img-fluid mt-5 mb-5">
      </div>
      <h2 class="white">ACCESO PRIVADO: </h2>


      <form [formGroup]="formLogin" #f="ngForm">
        <label for="username">Nombre de usuario:</label>
        <input type="text" placeholder="Introducir nombre de usuario" id="username" class="form-control fc-login"
          [(ngModel)]="user.username" formControlName="username" autofocus required>

        <label for="password">Password de usuario:</label>
        <input type="password" placeholder="Introducir password de usuario" id="password" class="form-control fc-login"
          [(ngModel)]="user.password" formControlName="password" autocomplete=“current-password” required>

        <div class="ml-2 mt-5">
          <!-- <button type="button" class="btn" mat-raised-button (click)="logIn()"> ESTA ES LA VERSION PARA EL BACKEND SECURITY PRODUCCION 2-->
            <button type="button" class="btn" mat-raised-button [routerLink]="['/panel']">
            Validar Acceso
          </button>
        </div>

      </form>

      <p class="mt-5"><small><strong>Adia Soft Solutions 2021</strong> - Un Proyecto Open Source conceptualizado y
          desarrollado por <strong>Héctor del Campo@HDCMedia</strong> con la colaboración de: <br></small><strong
          class="white_text">Cáritas Koopera Astur S.Coop.Astur</strong></p>
    </div>
  </div>
</div>
