<div class="container-fluid" *ngIf="contenedor">
  <app-navegacion></app-navegacion>
<div class="col-lg-12" >
  <h2 class="pl-2 pt-4" *ngIf="!idExiste">Insertar nuevo contenedor</h2>
  <h2 class="pl-2 pt-4" *ngIf="idExiste">Actualizar datos de contenedor - {{ conten.denom }} ({{ conten.barrio}} - {{ conten.localidad }}) </h2>

<form [formGroup]="formContenedor" #f="ngForm" (ngSubmit)="guardarContenedor()">

<div *ngIf="idx">
<label for="idcontenedor">ID contenedor: </label>
<input type="text" name="idcontenedor" id="idcontenedor" formControlName="idcontenedor" class="form-control" [(ngModel)]="conten.idcontenedor">
<br>
<!-- <small *ngIf="idrutaNoValida" class="text-danger ml-3">Mínimo 20 carácteres</small> -->
</div>


<label for="zona">Zona: </label>
<select name="zona" class="form-control" formControlName="zona" (ngModelChange)="onChange($event)" [(ngModel)]="contenedor.zona">
  <option *ngIf="!contenedor.zona">Seleccionar zona</option>
  <option *ngFor="let cn of zonas" [value]="cn.idcomarca">{{ cn.idcomarca }} - {{ cn.denom }}</option>
</select>

<br>
<small *ngIf="zonaNoValida" class="text-danger ml-3">Denominacion descriptiva (Mínimo 10 caracteres) </small>


<label for="localidad">Localidad: </label>
<select name="localidad" class="form-control" formControlName="localidad" [(ngModel)]="contenedor.localidad">
  <option *ngIf="!idcomarca">Seleccionar zona para ver localidades</option>
  <option *ngFor="let lc of localidades" [value]="lc.concejo.idconcejo">{{ lc.concejo.idconcejo }} - {{ lc.concejo.denom }}</option>
</select>

<br>
<small *ngIf="localidadNoValida" class="text-danger ml-3">Denominacion descriptiva (Mínimo 10 caracteres) </small>


<label for="barrio">Barrio: </label>
<input type="text" name="barrio" id="barrio" formControlName="barrio" class="form-control" [(ngModel)]="contenedor.barrio">
<br>
<!-- <small *ngIf="idrutaNoValida" class="text-danger ml-3">Mínimo 20 carácteres</small> -->

<label for="denom">Denominación: </label>
<input type="text" name="denom" id="denom" formControlName="denom" class="form-control" [(ngModel)]="contenedor.denom">
<!-- <input type="text" name="nomemp" id="nomemp" formControlName="nomemp"  class="form-control" [(ngModel)]="empleado.nomemp"> -->
<br>
<!-- <small *ngIf="idrutaNoValida" class="text-danger ml-3">Mínimo 20 carácteres</small> -->


<label for="ubicacion">Ubicación: </label>
<input type="text" name="ubicacion" id="ubicacion" formControlName="ubicacion" class="form-control" [(ngModel)]="contenedor.ubicacion">
<!-- <input type="text" name="nomemp" id="nomemp" formControlName="nomemp"  class="form-control" [(ngModel)]="empleado.nomemp"> -->
<br>
<!-- <small *ngIf="idrutaNoValida" class="text-danger ml-3">Mínimo 20 carácteres</small> -->





<label for="coordenadas">Coordenadas: </label>
<input type="text" name="coordenadas" id="coordenadas" formControlName="coordenadas" class="form-control" [(ngModel)]="contenedor.coordenadas">
<!-- <input type="text" name="nomemp" id="nomemp" formControlName="nomemp"  class="form-control" [(ngModel)]="empleado.nomemp"> -->
<br>
<!-- <small *ngIf="idrutaNoValida" class="text-danger ml-3">Mínimo 20 carácteres</small> -->


<label for="mapa">Mapa: </label>
<input type="text" name="mapa" id="mapa" formControlName="mapa" class="form-control" [(ngModel)]="contenedor.mapa">
<!-- <input type="text" name="nomemp" id="nomemp" formControlName="nomemp"  class="form-control" [(ngModel)]="empleado.nomemp"> -->
<br>
<!-- <small *ngIf="idrutaNoValida" class="text-danger ml-3">Mínimo 20 carácteres</small> -->


<label for="fechaimplantacion">Fecha Implantación: </label>
<input type="date" name="fechaimplantacion" id="fechaimplantacion" formControlName="fechaimplantacion" class="form-control" [(ngModel)]="contenedor.fechaimplantacion">
<!-- <input type="text" name="nomemp" id="nomemp" formControlName="nomemp"  class="form-control" [(ngModel)]="empleado.nomemp"> -->
<br>
<!-- <small *ngIf="idrutaNoValida" class="text-danger ml-3">Mínimo 20 carácteres</small> -->






  <div class="ml-3 mt-3">
      <button type="submit" mat-raised-button color="accent" class="btn submit mr-3"
      (click)="guardarContenedor();" [routerLink]="['/contenedores']">Salvar contenedor</button>
  </div>

</form>



</div>
     <div class="col-lg-12 ml-3 mt-3">
              <a [routerLink]="['/contenedores']" routerLinkActive="router-link-active"  mat-raised-button color="warn" class="btn mb-5">Volver</a>
     </div>







