
	<div class="container-fluid">
		<app-navegacionconductor></app-navegacionconductor>

    <div class="col-lg-12 mt-5">
      <div class="row col-lg-10 offset-lg-1">
        <div class="col-lg-3 mb-5">
          <div class="card text-center">
            <div class="card-body">
              <h3 class="card-title"><strong>Permiso retribuido</strong></h3>
              <p class="card-text">Tu responsable debe confirmar esta petición, recibiras un mensaje de respuesta</p>
              <a href="#" class="btn" mat-raised-button color="accent" [routerLink]="['/permisosretribuidos']">Solicitar permiso retribuido</a>
            </div>
            <div class="card-footer text-muted">
              Debes solicitarlo con al menos dos días de antelación
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card text-center">
            <div class="card-body">
              <h3 class="card-title"><strong>Permiso NO retribuido</strong></h3>
              <p class="card-text">Tu responsable debe confirmar esta petición, recibiras un mensaje de respuesta</p>
              <a href="#" class="btn" mat-raised-button color="accent" [routerLink]="['/permisosnoretribuidos']">Solicitar permiso no retribuido</a>
            </div>
            <div class="card-footer text-muted">
              Debes solicitarlo con al menos dos días de antelación, salvo emergencia personal.
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card text-center">
            <div class="card-body">
              <h3 class="card-title"><strong>Solicitud de vacaciones</strong></h3>
              <p class="card-text">Tu responsable debe confirmar esta petición, recibiras un mensaje de respuesta</p>
              <a href="#" class="btn" mat-raised-button color="accent" [routerLink]="['/vacaciones']">Solicitar vacaciones</a>
            </div>
            <div class="card-footer text-muted">
              Debes solicitarlo con al menos dos días de antelación
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-5">
          <div class="card text-center">
            <div class="card-body">
              <h3 class="card-title"><strong>Horas médico (Socios)</strong></h3>
              <p class="card-text">Tu responsable debe confirmar esta petición, recibiras un mensaje de respuesta</p>
              <a href="#" class="btn" mat-raised-button color="accent" [routerLink]="['/horasmedico']">Solicitar horas médico</a>
            </div>
            <div class="card-footer text-muted">
              Debes solicitarlo con al menos dos días de antelación
            </div>
          </div>
        </div>
      </div>




    </div>



  </div>
