
	<div class="container-fluid">
        <app-navegacion></app-navegacion>
			<div class="col-lg-12">
				<h2 class="pl-2 pt-4">Alta de nuevo contenedor</h2>



        <!-- Formulario para insertar nuevo contenedor -->

		<form autocomplete="off" [formGroup]="form" (ngSubmit)="guardarContenedor()">

            <label for="localidad">Zona: </label>
            <select name="zona" class="form-control" formControlName="zona" (ngModelChange)="onChange($event)">
              <option *ngFor="let cn of zonas" [value]="cn.idcomarca">{{ cn.idcomarca }} - {{ cn.denom }} </option>
            </select>
            <!-- <input
                class="form-control"
                type="text"
                id="localidad"
                name="localidad"
                formControlName="localidad"
                [class.is-invalid]="localidadNoValida"> -->
            <br>
            <small *ngIf="denomNoValida" class="text-danger ml-3">Denominacion descriptiva (Mínimo 10 caracteres) </small>


            <label for="localidad">Localidad: </label>
            <select name="localidad" class="form-control" formControlName="localidad" >
              <option *ngFor="let cn of localidades" [value]="cn.concejo.idconcejo">{{ cn.concejo.idconcejo }} - {{ cn.concejo.denom }} </option>
            </select>
            <!-- <input
                class="form-control"
                type="text"
                id="localidad"
                name="localidad"
                formControlName="localidad"
                [class.is-invalid]="localidadNoValida"> -->
            <br>
            <small *ngIf="localidadNoValida" class="text-danger ml-3">Denominacion descriptiva (Mínimo 10 caracteres) </small>


            <label for="denom">Barrio: </label>
            <input
                class="form-control"
                type="text"
                id="barrio"
                name="barrio"
                formControlName="barrio"
                [class.is-invalid]="barrioNoValida">
            <br>

            <label for="denom">Denominación: </label>
            <input
                class="form-control"
                type="text"
                id="denom"
                name="denom"
                formControlName="denom"
                [class.is-invalid]="denomNoValida">
            <br>
            <small *ngIf="denomNoValida" class="text-danger ml-3">Denominacion descriptiva (Mínimo 10 caracteres) </small>
            <label for="ubicacion">Ubicación: </label>
            <input
                class="form-control"
                type="text"
                id="ubicacion"
                formControlName="ubicacion"
                [class.is-invalid]="ubicacionNoValida">
            <br>
            <small *ngIf="ubicacionNoValida" class="text-danger ml-3">Denominacion descriptiva (Mínimo 10 caracteres) </small>
            <label for="coordenadas">Coordenadas: </label>
            <input
                class="form-control"
                type="text"
                id="coordenadas"
                formControlName="coordenadas"
                [class.is-invalid]="coordNoValida">
            <br>
            <small *ngIf="coordNoValida" class="text-danger ml-3">Coordenadas de google maps </small>
            <label for="mapa">Mapa: </label>
            <input
            class="form-control"
                type="text"
                id="mapa"
                formControlName="mapa"
                [class.is-invalid]="mapaNoValida">
                <br>
                <small *ngIf="mapaNoValida" class="text-danger ml-3">URL de google Maps válida</small>
            <label for="fechaimplantacion">Fecha implantación:  </label>
            <input
                class="form-control"
                type="date"
                id="fechaimplantacion"
                formControlName="fechaimplantacion"
                >

            <div class="row ml-3 mt-3 ml-3 mt-3">
                <button type="submit" value="Salvar Contenedor" mat-raised-button color="accent" class="btn submit mr-3">Salvar contenedor</button>
            </div>

		</form>



	<div class="col-lg-12 pt-3 mb-5 mb-5">
        <a [routerLink]="['/contenedores']" routerLinkActive="router-link-active" mat-raised-button color="warn" class="btn mr-3">Volver</a>
    </div>


    <hr>
    <div>
        <pre>
            Estado del formulario: {{ form.valid }}
            <br>
            Status: {{ form.status }}
            {{ form.value | json }}
        </pre>
    </div>
