
	<div class="container-fluid"*ngIf="pesajes">
        <app-navegacion></app-navegacion>
           <div class="col-lg-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light fsmall">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link fsmall" [routerLink]="['/llenados']">> Llenados</a>
					</div>
				</div>
			</nav>

		   </div>





			<div class="col-lg-12">
				<h2 class="pl-2 pt-4">Listado de Pesajes</h2>
				<table class="table bordbot table-striped">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>FECHA</th>
							<th>RUTA</th>
							<th>PESAJE</th>
              <th>VEHICULO</th>
							<th>OPERARIO</th>
							<th>COMPROBANTE</th>
              <th>NIVELES</th>
							<th>EDITAR</th>
							<th>ELIMINAR</th>
						</tr>
					</thead>
					<tbody class="table-striped" *ngIf="pesajes">
						<tr *ngFor="let pesa of pesajes">
							<td>{{ pesa.idpesaje}}</td>
							<td>{{ pesa.fechapesaje }}</td>
							<td>{{ pesa.ruta.denom }}</td>
							<td>{{ pesa.pesaje }} Kg</td>
              <td>{{ pesa.vehiculo.marca}}  {{ pesa.vehiculo.matricula }}</td>
							<td>{{ pesa.operario.nomemp }}</td>
							<td>{{ pesa.comprobante }}</td>
              <td><a mat-raised-button class="btn" [routerLink]="['/niveles', pesa.idpesaje ]">Niveles</a></td>
							<td><a href="#" mat-raised-button color="accent" class="btn mr-3" (click)="verVehiculoPesaje( pesa.idpesaje )" [routerLink]="['/salvarpesaje/', pesa.idvehipesaje ]">Modificar</a></td>
							<td><button mat-raised-button color="warn" class="btn mr-3" id="eliminar"
									name="eliminar" (click)="eliminarPesaje(pesa.idpesaje); refresh()">Eliminar</button></td>



						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col">
						<a [routerLink]="['/insertarpesaje']" routerLinkActive="router-link-active"  mat-raised-button color="warn" class="btn mr-3">Añadir Pesaje</a>
						<a href="#"  mat-raised-button color="warn" class="btn mr-3">Informes</a>
					</div>
					<div class="col">
            			<app-paginator-pesajes *ngIf="paginador" [paginador]="paginador"></app-paginator-pesajes>
					</div>
				</div>
			</div>
		</div>

