
	<div class="container-fluid">

    <app-navegacion></app-navegacion>

  <div class="col-lg-12 col-md-12 col-sm-12">


                <nav class="navbar navbar-expand-lg navbar-light bg-light fsmall">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link fsmall" [routerLink]="['/mantenimientos']">> Mantenimientos </a>
                            <a class="nav-link fsmall" [routerLink]="['/multas']">> Multas </a>
                            <a class="nav-link fsmall" [routerLink]="['/polizas']">> Polizas </a>
                            <!-- <a class="nav-link fsmall" href="#">> Incidencias <i class="fas fa-envelope red"></i></a> -->

                        </div>
                    </div>
                </nav>

  </div>
    <div class="col-lg-12 col-md-12 col-sm-12">

    </div>

  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="pl-2 pt-4">Listado de Vehículos</h2>




    <table class="table bordbot table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>MARCA</th>
                        <th>MODELO</th>
                        <th>MATRICULA</th>
                        <th>FECHA COMPRA</th>
                        <th>POLIZA</th>
                        <th>MULTAS</th>
                        <th>MANTENIMIENTOS</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    <tr *ngFor="let v of vehiculosF">
                        <td>{{ v.idvehiculo }}</td>
                        <td>{{ v.marca }}</td>
                        <td>{{ v.modelo }}</td>
                        <td>{{ v.matricula  }}</td>
                        <td>{{ v.fechacompra  }}</td>
                        <td><a mat-raised-button class="btn"
                          [routerLink]="['/poliza', v.idvehiculo ]" >Poliza</a></td>
                        <td><a [routerLink]="['/multav', v.idvehiculo ]" mat-raised-button class="btn">Multas</a></td>
                        <td><a mat-raised-button class="btn" (click)="verMantenVehiculo( v.idvehiculo )"
                          [routerLink]="['/mantenimiento', v.idvehiculo ]">Mantenimientos</a></td>
                        <td><a mat-raised-button color="accent" class="btn" (click)="verVehiculo( v.idvehiculo )" [routerLink]="['/salvarvehiculo', v.idvehiculo ]">Editar</a></td>
                        <td><a mat-raised-button color="warn" class="btn">Eliminar</a></td>
                        <!-- <td><a th:href="@{/empleado(idempleado=${r.idempleado})}" class="btn btn-warning">Ficha empleado</a></td> -->


                    </tr>
                </tbody>
    </table>
            <div class="row">
                <div class="col">
                    <a [routerLink]="['/salvarvehiculo']" routerLinkActive="router-link-active" mat-raised-button color="warn" class="btn mr-3 mb-5">Añadir Vehiculo</a>
                    <a href="#" mat-raised-button color="warn" class="btn mr-3 mb-5">Informes</a>
                </div>
                <div class="col">
                  <app-paginator-vehiculos *ngIf="paginador"   [paginador]="paginador"></app-paginator-vehiculos>
                </div>
            </div>
  </div>
</div>


