
	<div class="container-fluid">

    <app-navegacion></app-navegacion>

  <div class="col-lg-12 col-md-12 col-sm-12">


                <nav class="navbar navbar-expand-lg navbar-light bg-light fsmall">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link fsmall" href="#">> Incidencias <i class="fas fa-envelope red"></i></a>

                        </div>
                    </div>
                </nav>

  </div>
    <div class="col-lg-12 col-md-12 col-sm-12">

    </div>

  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="pl-2 pt-4">Listado de mantenimientos del vehiculo: {{vehiculo.marca}} {{vehiculo.modelo}} {{vehiculo.matricula}}</h2>




    <table class="table bordbot table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>FECHA</th>
                        <th>VEHICULO</th>
                        <th>MATRICULA</th>
                        <th>MODELO</th>
                        <th>DESCRIPCIÓN</th>
                        <th>COSTE</th>
                        <th>PROVEEDOR</th>
                        <th>Nº FACTURA</th>
                        <th>TIPO</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    <tr *ngFor="let m of manten">
                        <td>{{ m.idmantenimiento }}</td>
                        <td>{{ m.fechamantenimiento }}</td>
                        <td>{{ m.idvehiculo.modelo}}</td>
                        <td>{{ m.idvehiculo.matricula}}</td>
                        <td>{{ m.mantenimiento }}</td>
                        <td>{{ m.coste }} €</td>
                        <td>{{ m.proveedor }}</td>
                        <td>{{ m.numfactura }}</td>
                        <td>{{ m.tipomante }}</td>
                        <td>{{ m.tipomante }}</td>
                        <td><a mat-raised-button color="accent" class="btn">Editar</a></td>
                        <!-- <td><a mat-raised-button color="accent" class="btn" (click)="verVehiculo( v.idvehiculo )" [routerLink]="['/salvarvehiculo', v.idvehiculo ]">Editar</a></td> -->
                        <td><a mat-raised-button color="warn" class="btn">Eliminar</a></td>
                        <!-- <td><a th:href="@{/empleado(idempleado=${r.idempleado})}" class="btn btn-warning">Ficha empleado</a></td> -->


                    </tr>
                </tbody>
    </table>
            <div class="row">
                <div class="col">
                    <a routerLinkActive="router-link-active" mat-raised-button color="warn" class="btn mr-3 mb-5">Añadir Mantenimiento</a>
                    <a href="#" mat-raised-button color="warn" class="btn mr-3 mb-5">Informes</a>
                </div>
                <div class="col">
                    <!-- <mat-paginator [length]="200" [pageSizeOptions]="[5, 10]" aria-label="Select page">
                    </mat-paginator> -->
                </div>
            </div>
  </div>
</div>


