
		<!-- cabecera -->
		<div class="row">
			<div class="col-lg-12">
				<div class="menu_sup bordtop bordbot">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<a class="navbar-brand red" href="#">CÁRITAS KOOPERA SOC.
							COOP. ASTUR</a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-link active" [routerLink]="['/inicio']">Inicio <span
									class="sr-only">(current)</span></a> <a class="nav-link" href="#">Administración</a>
								<a class="nav-link" href="#">Tiendas</a> <a class="nav-link "
									href="#">Recogida</a> <a class="nav-link" href="#">Picking</a>
								<a class="nav-link" href="#">Acompañamiento</a> <a
									class="nav-link" href="#">Información</a>

							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<!-- end cabecera -->

		<div class="col-lg-12 center principal">
					<div class="col-lg-12 login"><a [routerLink]="['/login']">Acceso privado</a></div>
			<img src="assets/img/logoadia.png" id="logoadia">
			<div class="row">

				<div class="col-lg-12">
					<div class="row justify-content-lg-center">
						<div class="col-lg-3 acceso">
							<h2>Conocer Adia</h2>
							<ul class="accesos col-xl-12">
								<li><a href="#">¿Qué es Adia?</a></li>
								<li><a href="#">¿En Qué me ayuda Adia?</a></li>
								<li><a href="#">Requerimientos de Adia</a></li>
							</ul>
						</div>
						<div class="col-lg-3 acceso">
							<h2>Trabajar con Adia</h2>
							<ul class="accesos col-xl-12">
								<li><a href="#">Primeros pasos</a></li>
								<li><a href="#">Manuales por Sección</a></li>
								<li><a href="#">FAQ's</a></li>
							</ul>
						</div>
						<div class="col-lg-3 acceso">
							<h2>Solicitar asistencia</h2>
							<ul class="accesos col-xl-12">
								<li><a href="#">Soporte Web</a></li>
								<li><a href="#">Ticket Asistencia</a></li>
								<li><a href="#">Asistencia urgente</a></li>
							</ul>
						</div>
						<div class="col-lg-9 banner">
							<h3>Créditos</h3>
							<p>© <strong>Adia Soft Solutions 2021</strong> - Un Proyecto Open Source conceptualizado y desarrollado por <strong>Héctor del Campo@HDCMedia</strong> con la colaboración de:
<strong>Cáritas Koopera Astur S.Coop.Astur</strong></p>
						</div>
					</div>

				</div>

			</div>
		</div>
